<plugin name='lesscss-resources' version='0.3' grailsVersion='1.3.5 &gt; *'>
  <author>Paul Fairless</author>
  <title>Less CSS Resources</title>
  <description>\
This plugin if to support server-side compliation of .less CSS files to their .css counterparts.
</description>
  <documentation>https://github.com/paulfairless/grails-lesscss-resources</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>LesscssResourceMapper</resource>
  </resources>
  <dependencies>
    <plugin name='resources' version='1.0 &gt; *' />
  </dependencies>
  <behavior />
</plugin>